<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern=" %-d{HH:mm:ss}[%p %c] %m%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="ship.log"
                     filePattern="ship-%d{yyyy-MM-dd}-%i.log"
                     immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>%-d{HH:mm:ss}[%p %c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="3" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
        <logger name="org.apache.commons" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="io.netty" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="httpclient" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.elasticsearch" level="error" additivity="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="org.apache.http" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="us.codecraft.webmagic" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
        <logger name="TASK_LOG" level="error" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </logger>
    </loggers>
</configuration>